{#{% extends "base.html" %}#}
{#{% block content %}#}
{#  <div class="top-bar>">#}
{#    <button><p>Войти</p></button>#}
{#  </div>#}
{#  <div class="main">#}
{#    {% for i in range(5) %}#}
{#      <h1>Варианты за 2024/25 учебный год ( {{ i }} )</h1>#}
{#      <span>Открытые пробники и реальные варианты</span>#}
{#      <div class="list-version">#}
{#        <div class="variant">#}
{#          {% for vers in range(1,10) %}#}
{#            {{ vers }}#}
{#          {% endfor %}#}
{#        </div>#}
{#      </div>#}
{#    {% endfor %}#}
{##}
{#  </div>#}
{#{% endblock %}#}