<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}KEGE{% endblock %}</title>
  {% block style %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
{#    <link rel="stylesheet" href="{{ url_for('static', path='css/answe_table_style.css') }}">#}
  {% endblock %}

  <script>  <!--Позволяет нормально отображать текст задания-->
      window.MathJax = {
          tex: {
              inlineMath: [['\\(', '\\)']],
              displayMath: [['\\[', '\\]']]
          }
      };
  </script>
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" async></script>
</head>

<body>

{% block content %}{% endblock %}


</body>
</html>